<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-add-extension"
        version="1.0.0">

  <name>Add iOS Extension</name>
  <author>SevenCooks GmbH &amp; Co KG</author>

  <engines>
    <engine name="cordova" version=">=9.0.0"/>
  </engines>

  <platform name="ios">
    <config-file parent="/*" target="config.xml" ></config-file>

    <!-- <config-file parent="com.apple.security.application-groups" target="*-Info.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file> -->

    <!-- Check if these are even necessary... -->

    <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>
    <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>

    <hook type="before_prepare" src="hooks/prerequisites.js"/>
    <hook type="before_prepare" src="hooks/copyExtensionFolder.js"/>
    <hook type="before_prepare" src="hooks/addExtensionToProject.js"/>
    <hook type="after_prepare" src="hooks/fixAppEntitlements.js"/>
  </platform>
</plugin>
